.root {
  -white: white;
  -cream: #EBE7D9;
  -icon-grey: #BFBFBF;
  -other-grey: #334855;
  -pop-up-grey: GREY;
  -background-grey: #131d23;
  -black: black;
  -green: #58DD94;

  -fx-background-color: -background-grey;

}

.label {
  -fx-font-size: 20px;
  -fx-font-family: Consolas;
  -fx-text-fill: -white;
}

.highscore {
  -fx-font-size: 15px;
  -fx-text-fill: -icon-grey;
}

.popup {
  -fx-fill: -pop-up-grey;
}

#lblTitle {
  -fx-font-size: 50px;
  -fx-font-weight: bold;
}

#lblSubtitle {
  -fx-font-size: 30px;
  -fx-text-fill: -icon-grey;
}

#timeClueInformationLabel {
  -fx-font-size: 14px;
}

#whereClueInformationLabel {
  -fx-font-size: 14px;
}

#whoClueInformationLabel {
  -fx-font-size: 14px;
}

#timer {
  -fx-font-size: 35px;
  -fx-height: 100%;
  -fx-transform: scale(1,.9);
}

#labelHintsLeft {
  -fx-font-size: 16px;
}

#instructions {
  -fx-font-size: 10px;
  -fx-text-fill: black;
}